{% extends 'base.html.twig' %}

{% block title %}Projects List
{% endblock %}
{% block maintitle %}Projects List
{% endblock %}

{% block body %}
	<div class="card">

		<div class="card-header">
			<h3 class="card-title">
				Projects List(Total:0)
			</h3>
			<div class="card-tools">
	
			</div>
		</div>
		<div class="card-body">

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Description</th>
						<th>Group</th>
						<th>Uploaded At</th>
						<th>Status</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ project.title }}</td>
							<td>{{ project.description }}</td>
							<td>{{ project.ownerGroup }}</td>

							<td>{{ project.uploadedAt ? project.uploadedAt|date('Y-m-d H:i:s') : '' }}</td>
							{% set status = project.status  %}
                            {% set stat = ""  %}
                            {% if status == 0 %}
                                {% set stat = "Not Checked" %}
                            {% elseif status == 1 %}
                                {% set stat = "Checked" %}
                            {% elseif status == 2 %}
                                {% set stat = "Failed" %}
                                
                            {% endif %}
                            <td><span class="badge badge-warning">{{ stat }}</span></td>
							<td>
								<a class="btn btn-info" href="{{ path('project_show', {'id': project.id}) }}">show</a>
								<a class="btn btn-warning" href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary" href="{{ path('project_new') }}">Upload new</a>
		</div>
	</div>
{% endblock %}
